<h1>Yo</h1>


<h4>
  Let's go watch some shit.
</h4>

  <% @events.each do |artist_events|%>
    <% artist_events.each do |event| %>
      <p>
        <%= link_to(event[:title], event[:ticket_url], target: :blank) %> - <%= event[:date] %>
      </p>
    <% end %>
  <% end %>


