<div class="phone-message">
  <div class="background-img">
    <%= image_tag 'index-red-flash.png' %>
  </div>
  <div class="copy">
    <h1>Concerts in your inbox</h1>
    <p>Local show recommendations based on your Spotify delivered right to your inbox</p>
  </div>
  <div class="sign-up">
    <button type="button" class="btn btn-lg btn-block btn-default btn-inverse btn-transparent">LET'S GO</button>
    <%#= link_to('LOGIN WITH SPOTIFY', '/auth/spotify', {:style => 'color: #FFFFFF'}) %>
  </div>
</div>
